
@{
    ViewBag.Title = "Activity Barging Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1><b>Activity Barging</b></h1>
                </div>

            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header" id="card_header" style="background-color: cadetblue !important">
                            <h3 class="card-title" id="card_title" style="padding-left:50px !important"><b>Detail Activity Barging</b></h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                            <div id="form">
                                <form id="form_upload" style="margin-left: 50px" method="get">
                                    <input type="text" id="web_link" value="@Session["Web_Link"]" hidden />
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Customer</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CUSTOMER" name="CUSTOMER" data-bind="value: CUSTOMER" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Jetty</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="k-combobox" id="JETTY" name="JETTY" data-bind="value: JETTY" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Buyer</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="BUYER" name="BUYER" data-bind="value: BUYER" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Tug Boat</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="TUG_BOAT" name="TUG_BOAT" data-bind="value: TUG_BOAT" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Barge</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="BARGE" name="BARGE" data-bind="value: BARGE" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Target Barging</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="k-combobox" id="CAPACITY" name="CAPACITY" data-bind="value: CAPACITY" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Progress</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="PROGRESS" name="PROGRESS" data-bind="value: PROGRESS" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Progress By BeltScale</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="PROGRESS_BY_BELTSCALE" name="PROGRESS_BY_BELTSCALE" data-bind="value: PROGRESS_BY_BELTSCALE" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Productivity</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="PRODUCTIVITY" name="PRODUCTIVITY" data-bind="value: PRODUCTIVITY" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Status</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="STATUS" name="STATUS" data-bind="value: STATUS" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Deskripsi</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="DESKRIPSI" name="DESKRIPSI" data-bind="value: DESKRIPSI" / disabled>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="card-header" id="card_header" style="background-color: cadetblue !important">
                                        <h3 class="card-title" id="card_title" style="padding-left:0"><b>Progress Activity Barging</b></h3>
                                    </div><br />
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Contractor</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="CONTRACTOR" name="CONTRACTOR" data-bind="value: CONTRACTOR" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Material Type</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="MATERIAL_TYPE" name="MATERIAL_TYPE" data-bind="value: MATERIAL_TYPE" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Seam</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="SEAM" name="SEAM" data-bind="value: SEAM" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Target Barging</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="k-combobox" id="CAPACITY" name="CAPACITY" data-bind="value: CAPACITY" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Progress</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="PROGRESS" name="PROGRESS" data-bind="value: PROGRESS" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Draught Survey</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="DRAUGHT_SURVEY" name="DRAUGHT_SURVEY" data-bind="value: DRAUGHT_SURVEY" / disabled>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="card-header" id="card_header" style="background-color: cadetblue !important">
                                        <h3 class="card-title" id="card_title" style="padding-left:0"><b>Dwelling Time Activity Barging</b></h3>
                                    </div><br />
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Date Booking</label>
                                        <div class="col-sm-10">
                                            <input type="date" class="k-datepicker" id="DATE_BOOKING" name="DATE_BOOKING" data-bind="value: DATE_BOOKING" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Start Time</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="START_TIME" name="START_TIME" data-bind="value: START_TIME" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Duration</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="DURATION" name="DURATION" data-bind="value: DURATION" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Status</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="STATUS" name="STATUS" data-bind="value: STATUS" / disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Type" class="col-sm-2 col-form-label">Deskripsi</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="DESKRIPSI" name="DESKRIPSI" data-bind="value: DESKRIPSI" / disabled>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                        <div class="card-footer">
                            @*<div class="centerPosition">
                                    <button type="submit" id="btn_update" name="btn_update" class="btn btn-warning">Update</button>
                                </div>
                                <div class="centerPosition mt-2">
                                    <button type="submit" id="btn_kembali" name="btn_kembali" class="btn btn-primary">Kembali</button>
                                </div>

                                <div class="centerPosition">
                                    <button type="submit" id="btn_approve" name="btn_approve" class="btn btn-success">Approve</button>
                                </div>
                                <div class="centerPosition mt-2">
                                    <button type="submit" id="btn_reject" name="btn_reject" class="btn btn-danger">Reject</button>
                                </div>*@
                            <button type="submit" id="btn_kembali" name="btn_kembali" class="btn btn-primary">Kembali</button>
                            
                        </div>
                    </div>
                    <!-- /.card -->
                    <!-- general form elements -->
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript" src="~/Js/ActivityBarging_Detail.js"></script>
